*{
    font-family: "Raleway", sans-serif;
    color: white;

    --space-xs: 0.5em;
    --space-s: 1em;
    --space-m: 2em;
    --space-l: 4em;
    --space-xxl: 16em;

    --col-1: rgb(139, 80, 194);
    --col-2: rgb(201, 61, 77);
    --col-3: rgb(6, 167, 126);
}

body{
    background-color: #1D1D1D;
    margin: 0;

    display: flex;
    justify-content: center;
}

img{
    width: 100%;
}

.img-set{
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
}
.img-set label{
    padding-bottom: var(--space-s);
    display: block;
}

.wrapper{

    max-width: 1000px;
    width: 100%;
    margin: var(--space-m);
}

.heading{
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-m);
}
.heading.main h3{
    text-align: center;
}

.desc{
    opacity: 0.7;
    font-weight: 300;
    margin-bottom: var(--space-m);
    padding-left: var(--space-m);
    border-left: white solid 2px;
    box-sizing: border-box;
}


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1{
    font-size: 6em;
    text-align: center;
}
h2{
    font-size: 4em;
}
h3{
    font-weight: 400;
}



.audio-set{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--space-s);
    background-color: #2e2e2f;
    padding: var(--space-s);
    margin-bottom: var(--space-xs);

}
.audio-set h4{
    text-align: center;
    align-self: center;
}
.audio-set.fx{
    border-left: 4px solid var(--col-1);
}
.audio-set.ambience{
    border-left: 4px solid var(--col-2);
}
.audio-set.music{
    border-left: 4px solid var(--col-3);
}
.audio-set h4, .audio-set audio{

    width: 100%;
}

.chips{
    display: flex;
    gap: var(--space-s);
    padding-bottom: var(--space-m);
}
.chip{
    background-color: black;
    padding: var(--space-xs);
}
.chip.fx{
    background-color: var(--col-1);
}
.chip.ambience{
    background-color: var(--col-2);
}
.chip.music{
    background-color: var(--col-3);
}