* {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.grass-bg{
    background-image: url("./GRASS.png");
}
.snow-bg{
    background-color: rgb(218, 219, 226);
}
.home-bg{
    background-color: black;
    overflow: hidden;
}

.abs{
    position: absolute;
}
.home-img{
    position: relative;
}

img { 
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}

.font2 {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 1.7em;
    font-style: normal;
}

.key {
    display: flex;
    justify-content: center;
    gap: 1em;
}
.key img{
    align-self: center;
}




body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(27, 26, 43);
}

a {
    color: rgb(231, 143, 71);
    background-color: rgb(231, 143, 71);
}

a:hover {
    cursor: pointer;
    background-color: transparent;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.w100vw {
    width: 100vw;
}

.h100vh {
    height: 100vh;
}

.flex-center-v {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    color: rgb(118, 116, 134);
}

.main-txt {
    color: rgb(187, 187, 187);
}

.encrypt-txt {
    color: rgb(231, 143, 71);
}

b {
    color: rgb(231, 143, 71);
}

.fill-txt{
    color: red;
}